<section class="wow" id="home" >
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      
        <ol class="carousel-indicators">
          <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselIndicators" data-slide-to="1"></li>
          <li data-target="#carouselIndicators" data-slide-to="2"></li>
          <li data-target="#carouselIndicators" data-slide-to="3"></li>
          <li data-target="#carouselIndicators" data-slide-to="4"></li>
          <li data-target="#carouselIndicators" data-slide-to="5"></li>
        </ol>
        
        <div class="carousel-inner">
          <div class="carousel-item active carousel-1">
            <div class="carousel-caption d-none d-md-block">
              <h3>Importing & Supplying IT gadgets, stationeries etc.</h3>
            </div>
          </div>
          <div class="carousel-item carousel-2">
            <div class="carousel-caption d-none d-md-block">
              <h3>S.E.O / keywording experts</h3>
            </div>
          </div>
          <div class="carousel-item carousel-3">
            <div class="carousel-caption d-none d-md-block">
              <h3>Internet Access 24/7</h3>
            </div>
          </div>

          <div class="carousel-item carousel-4">
            <div class="carousel-caption d-none d-md-block">
              <h3>Cyber Cafe Services</h3>
            </div>
          </div>
          <div class="carousel-item carousel-5">
            <div class="carousel-caption d-none d-md-block">
              <h3>Photography</h3>
            </div>
          </div>
          <div class="carousel-item carousel-6">
            <div class="carousel-caption d-none d-md-block">
              <h3>24/7 Support</h3>
            </div>
          </div>
        </div>
        
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </a>
      </div>
  </section>
