<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About <span>Us</span> </h2>
            <hr>
            <p id="abt">
                At W_Hube Enterprise we are young, skilled professionals and our focus is bringing the state of art in IT. We are a brilliant and ambitious team who provide IT solutions and we stand out to all our customers. 
                We believe that information technology is all about doing things differently. We are the focal point of all IT issues and we know that growth is a process. We are still growing our business and we’ve watched it grow from its lowest. We enjoy the people we work with and our customers are highly treasured!
            </p>

            
        </div>
        <br>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/images/w_hube.png" alt="..."></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2021-2022</h4>
                        <h4 class="subheading">Our Humble Beginnings</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/images/w_hube.png" alt="..."></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>March 2022</h4>
                        <h4 class="subheading">An Agency is Born</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <!-- <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/images/w_hube.png" alt="..."></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>December 2015</h4>
                        <h4 class="subheading">Transition to Full Service</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/images/w_hube.png" alt="..."></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>July 2020</h4>
                        <h4 class="subheading">Phase Two Expansion</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li> -->
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br>
                        Of Our
                        <br>
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
        <br>
        <br>

        <div class="row">
            <div class="col-md">
                <h3 class="section-heading text-center">Area of <span>expertise</span> </h3>
                <hr id="hr">
                <p id="abt">
                    We model a culture of IT consultations in all dimensions and our focus is S.E.O services, Keywording, Importing, and supplying all IT gadgets, Stationery, Cyber services, and photography!
                    These not only serve as the basics of our business, but we also aim to create a culture where team unity is core and we work with core values that shape who we are. 
                    We love working at W_Hube and we believe that alongside our customers and the team of professionals we deliver the best IT solutions. 
                    
                    
                </p>
            </div>
            <div class="col-md">
                <h3 class="section-heading text-center">Leadership</h3>
                <hr id="hr">
                <p id="abt">
                    W_Hube Enterprise is a registered business enterprise under Kenyan business law and it is led by two managing partners. The leadership strategy here is family business-oriented, and we aim to make W_ Hube a group of companies someday. The supply chain and imports is governed by our C.E.O a certified member OF KISM (Kenya Institute of Supplies Management) Member No. 79047.
                </p>
            </div>
        </div>
        <p id="abt">
            <strong>
                Read more to understand our mission, vision, leadership strategy, and the core values that define us! Check our website daily for updates!
            </strong>
        </p>

        <br>
        <br>

        <h3 class="section-heading text-center">Our Able Team</h3>
        <hr id="hr">
        <div class="gallery-image">
            <div class="img-box shadow Pamela">
            <div class="transparent-box">
                <div class="caption">
                <h5 class="font-weight-bold">Pamela Kananu</h5>
                <p class="opacity-low">C.E.O W_Hube Enterprise</p>
                </div>
            </div> 
            </div>
            <div class="img-box shadow Susan">
            <div class="transparent-box">
                <div class="caption">
                    <h5 class="font-weight-bold">Susan Nyawira</h5>
                    <p class="opacity-low">Managerial partner</p>
                </div>
            </div>
            </div>
            <div class="img-box shadow Lisbeth">
            <div class="transparent-box">
                <div class="caption">
                    <h5 class="font-weight-bold">Lisbeth Kathure</h5>
                    <p class="opacity-low">Core assistant</p>
                </div>
            </div>
            </div>
            <div class="img-box shadow Arthur">
            <div class="transparent-box">
                <div class="caption">
                    <h5 class="font-weight-bold">Arthur Mutugi</h5>
                    <p class="opacity-low">Core assistant</p>
                </div>
            </div> 
            </div>
            <div class="img-box shadow June">
            <div class="transparent-box">
                <div class="caption">
                    <h5 class="font-weight-bold">June Gina Goretti</h5>
                    <p class="opacity-low">Core assistant</p>
                </div>
            </div> 
            </div>
            <div class="img-box shadow kelvin">
            <div class="transparent-box">
                <div class="caption">
                    <h5 class="font-weight-bold">Kelvin Mutuma Kimathi</h5>
                    <p class="opacity-low">IT professional</p>
                </div>
            </div> 
            </div>
        </div>
    </div>
</section>